include LICENCE
include README.md
recursive-include djangocms_darksky_api/conf *
recursive-include djangocms_darksky_api/templates *
recursive-include djangocms_darksky_api/locale *
global-exclude __pycache__
global-exclude *.py[co]
